<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meDOC- An Interactive Patient-Doctor Profile Connection</title>
</head>
<body>
 
    <br><br>    
        <label for="signup"> Sign-up </label>
        <select name="signup" id="signup">
            <option value="s1">as doctor</option>
            <option value="s2">as patient</option>
        </select>
        <label for="login"> Login </label>
        <select name="login" id="login">
            <option value="l1">as doctor</option>
            <option value="l2">as patient</option>
        </select>
   
    <h1><em>me<strong>DOC</strong></em></h1><hr>
    <h2>KNOW YOUR PATIENT/DOCTOR BETTER</h2><br>
<ul>
    <li>View your medical history on the go</li>
    <li>Book an appointment</li>
    <li>Doctors can add new tabs</li>
    <li>Safe Environment</li>

</ul>

</body>
</html>