<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meDOC- An Interactive Patient-Doctor Profile Connection</title>
</head>
<body>
     
        
   <div id="div1">
    <span id="meDOC"><em><strong>meDOC</strong></em></span>
            <a href="#" class="myButton" id="tabs">Sign up</a>
            <a href="#" class="loginbuton" id="tabs">Login</a>
            <br><br>
</div>
<br>
    
    <h2><em>KNOW YOUR PATIENT/DOCTOR BETTER</em></h2><br>
<div id="features"><ul>
    <li>View your medical history on the go</li>
    <li>Book an appointment</li>
    <li>Doctors can add new tabs</li>
    <li>Safe Environment</li>

</ul>
</div>
</body>
</html>